
@media (prefers-color-scheme: dark) {
  :root {
    --vs-primary: 139, 112, 205;
    --vs-success: 170, 150, 218;
    --vs-danger: 255, 255, 151;
    --vs-warn: 233,220,201;
    --vs-dark: 36, 33, 69
  }
}
